{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers before sending your application
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Summary
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Your details
        </td>
        <td>
          {{details['full-name-f1']}}<br>
          {{details['dob-day']}}/{{details['dob-month']}}/{{details['dob-year']}}<br>
          {{details.addressline1}}<br>
          {{details.addressline2}}<br>
          {{details.addressline3}}<br>
          {{details.postcode}}<br>
          
        </td>
        <td class="change-answer">
          <a href="aboutyou?edit=true">
            Change <span class="visuallyhidden">About you</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Type of licence
        </td>
        <td>
          {{typeoflicence['radio-group']}}
        </td>
        <td class="change-answer">
          <a href="typeoflicence.html">
            Change <span class="visuallyhidden">Type of Licence</span>
          </a>
        </td>
      </tr>
      
    </tbody>
  </table>

  <h2 class="heading-medium">Now send your application</h2>

  <p class="text">
    By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>

  <div class="form-group">
    <a href="confirmpage" class="button">Accept and send application</a>
  </div>

</main>

{% endblock %}
